.titulo{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.titulo-noticia{
    font-size: 40px;
    color: black;
}

.descricao{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
}

.imagem-carrosel {
    filter: brightness(.27);
    height: 100vh;
}

.imagem-card{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 30px 0 30px 0;
}

.bg-imagem{
    background-color: black;
    width: 100%;
    height: 100%;
}

.card{
    width: 250px;
    margin: 2px;
    border-radius: 30px 0 0 0;
}

.card:hover{
    padding: 0.5px;
}